// main: main.styl

body
    background: $COLOR_BG
    background-attachment: fixed
    background-image:
        linear-gradient(to top, $COLOR_BGT, $COLOR_BG1T, $COLOR_BG2T),
        url("/images/star.gif")
